@charset "UTF-8";
@import './vw.scss';
.am-list-body{
    color: #6c798c;
}
.Logo{
    width: vw(180);
    height: vw(300);
    margin: 0 auto;
    padding-top: vw(50);
    img{
        width: 100%;
        height: vw(200);
    }
}
.am-checkbox-agree .am-checkbox-agree-label{
    font-size: vw(10);
    color: #6c798c;
    
}
.LoginReg{
    color: #6982fa;
    margin-top: vw(20);
}
.threeLogin{
    text-align: center;
    margin: vw(20) vw(60);
    .threeimg{
        display: flex;
        flex-wrap: wrap;
        padding: vw(60) vw(140);
        border-top: solid #e1ebf1 vw(1);
    }
}
.ok{
    line-height: vw(50);
}
