@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
dl,
dt,
dd,
div,
span,
p,
img,
form,
input,
label,
select,
option,
textarea,
button,
table,
td,
tr,
i,
b,
em,
strong,
u,
br,
header,
section,
main,
nav,
footer {
  margin: 0;
  padding: 0;
}

/* 继承可视窗口高度 */
html,
body {
  height: 100%;
}

/* 去除列表默认的列表项 */
ol,
ul,
li {
  list-style: none;
}

/*去除超链接的默认样式 */
a {
  color: #333;
  text-decoration: none;
}

/* 解决图片存在的bug */
img {
  border: 0;
  /* 在IE9以下浏览器中，如果是a标签包裹的img，则会出现边框线*/
  display: block;
  /* 块状元素包裹img，在块状元素的底部会多出3像素左右的间距*/
}

/* 万能清除法 */
.clear_fix::after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* 去除文字默认的样式 */
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}

i,
em {
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.Mine {
  background: #e9ebe9;
  padding: 2.66667vw;
}

.Mine .Mine_head {
  height: 44vw;
  background: #ffffff;
  border-radius: 2.66667vw;
}

.Mine .Mine_head .Mine_head_one {
  height: 6.66667vw;
  display: flex;
  justify-content: space-between;
  padding: 2.66667vw;
}

.Mine .Mine_head .Mine_head_one button {
  width: 28vw;
  height: 9.33333vw;
  margin-top: 2.66667vw;
  border-radius: 6.66667vw;
  border: none;
  color: #ffffff;
  background: #6982fa;
}

.Mine .Mine_head .Mine_head_one .Mine_head_one_div {
  display: flex;
  justify-content: space-between;
}

.Mine .Mine_head .Mine_head_one .Mine_head_one_img {
  width: 13.33333vw;
  height: 13.33333vw;
  border-radius: 6.66667vw;
  background: blueviolet;
}

.Mine .Mine_head .Mine_head_one .Mine_head_one_img img {
  width: 13.33333vw;
  height: 13.33333vw;
  border-radius: 6.66667vw;
}

.Mine .Mine_head .Mine_head_one .Mine_head_one_span {
  font-size: 5.33333vw;
  color: black;
  margin-left: 6.66667vw;
  margin-top: 2.66667vw;
}

.Mine .Mine_head .Mine_head_two {
  margin-top: 17.33333vw;
  display: flex;
  justify-content: space-around;
}

.Mine .Mine_head .Mine_head_two ul {
  text-align: center;
}

.Mine .Mine_head .Mine_head_two ul .Mine_head_two_li {
  font-size: 1.6vw;
  color: darkgray;
}

.Mine .Mine_head .Mine_head_two ul .Mine_head_two_number {
  font-size: 8vw;
  color: black;
}

.Mine .Mine_content_vip {
  height: 36vw;
  margin-top: 4vw;
  margin-bottom: 2.66667vw;
  border-radius: 2.66667vw;
}

.Mine .Mine_content_vip .Mine_content_vip_one {
  height: 13.33333vw;
  background-image: linear-gradient(to right, #e6dfdf, #afb6af);
  border-radius: 2.66667vw 2.66667vw 0 0;
  margin-bottom: -2vw;
}

.Mine .Mine_content_vip .Mine_content_vip_two {
  height: 22.66667vw;
  border-radius: 2.66667vw;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  line-height: 22.66667vw;
}

.Mine .am-list-item {
  height: 16vw;
}

.Mine .Mine_out {
  height: 13.33333vw;
  background: #ffffff;
  border-radius: 2.66667vw;
  margin-top: 4vw;
  margin-bottom: 10.66667vw;
  text-align: center;
  line-height: 13.33333vw;
  color: red;
  font-size: 4vw;
}
